/*
    COLOR PALETTE
    ⬛ #000000 - Black
    🟩 #062807 - Body, Navbar Container
    🟦 #16424A - Font Color
        #E0F7F1 - Secondary Color
    ⚪ #F0F0F0 - White Container, Font Color
*/

body {
    font-family: Poppins,'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #062807;
    margin: 0;
    padding: 0;
}

.rounded-container {
    background-color: #F0F0F0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 20px;
}


/* ---------- NAVBAR ---------- */
nav {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-container {
    background-color: #062807;
    border-radius: 50px;
    padding: 8px 20px;
}

.nav-logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    color: #F0F0F0;
}
.nav-logo img {
    height: 30px;
    margin-right: 8px;
}

.nav-link {
    color: #F0F0F0;
    border-radius: 25px;
    padding: 8px 16px;
    transition: background 0.3s;
}
.nav-link:hover {
    background-color: rgba(255,255,255,0.1);
}
.nav-link.active {
    background-color: #e8f3ef;
    color: #062807 !important;
    font-weight: 600;
}

.icon-btn {
    background-color: #062807;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: #F0F0F0;
    font-size: 18px;
}
.icon-btn:hover {
    background-color: #154d14;
}